.chapterTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 315px;
  height: 55px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px;
  background: #1f2937;
  box-shadow: 5px 5px 10px #1f2937;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}
.chapterTitle:hover {
  color: #3a434f;
  background-color: #f39b4e;
}

@media screen and (max-width: 400px) {
  .chapterTitle {
    width: 240px;
  }
}
@media screen and (max-width: 250px) {
  .chapterTitle {
    width: 200px;
  }
}
