.chatbot {
  position: fixed;
  bottom: 120px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border: 1px solid #1f2937;
  border-radius: 12px;
  max-width: 400px;
  max-height: 600px;
  background-color: lightgray;
}
.chatDiv {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 350px;
}
.chatDiv::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #f39b4e; /* or add it to the track */
}
.chatDiv::-webkit-scrollbar-thumb {
  background: #1f2937;
}
.answerDiv,
.questionDiv {
  display: flex;
  align-items: baseline;
  padding: 5px;
}
.answerDiv {
  margin-bottom: 20px;
}
.answerDiv::-webkit-scrollbar {
  display: none;
}
.answerLogo {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: #1f2937;
  border-radius: 50%;
  border: 3px solid #f39b4e;
}
.questionLogo {
  width: 50px;
  height: 50px;
  border: 3px solid #1f2937;
  border-radius: 50%;
}
.answer,
.question {
  margin: 0 20px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 0 15px 15px;
}
.chatbot .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  border-radius: 10px 10px 0 0;
  text-shadow: none;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin: 0;
}
.chatbot .title-left {
  color: #fff;
  font-size: 15px;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  background: #2fc23b;
}

.bottom {
  width: 100%;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: lightgray;
}
.chatbot form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  height: 40px;
  margin-top: 20px;
}
.chatbot form input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  height: 100%;
}
.chatbot form button {
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: none;
  font-size: 15px;
  height: 100%;
  font-weight: normal;
  cursor: pointer;
}

.chatbot button:hover {
  color: #f39b4e;
  background: #1f2937;
  transition: all 0.2s ease-in-out 0.2s;
}
.chat-toast {
  position: fixed;
  right: 20px;
  bottom: 130px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f39b4e;
  z-index: 10;
}
.chat-toast p {
  font-size: 15px;
}
.toast-close {
  position: absolute;
  font-weight: bold;
  right: 5px;
  top: 5px;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 498px) {
  .chatbot {
    right: 50px;
  }
}
@media screen and (max-width: 400px) {
  .chatbot {
    right: 0;
  }
  img.chat {
    right: 10px;
  }
}

@keyframes bounce {
  2%,
  8% {
    transform: translateY(-15px);
  }
  5%,
  11% {
    transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img.chat {
  animation: bounce 10s infinite, fadeIn 1s;
}
