@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Montserrat:wght@400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  min-width: 10vh;
}
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 1300px) {
  .p-1300 {
    padding: 150px 50px;
  }
}
@media screen and (max-width: 498px) {
  .p-498 {
    padding: 150px 20px;
  }
}
@media screen and (max-width: 300px) {
  .p-300 {
    padding: 20px 30px;
  }
}
