.hadithPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 200px 50px;
}
.hadithPage-bottom-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}
.hadithPage-bottom-container .bottom-paragraph {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  background: #1f2937;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 5px 5px 10px #1f2937;
  width: 50%;
  z-index: 1;
  opacity: 0.9;
}
.hadith-container {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 50px 50px 50px;
  background-color: var(--light-orange);
  box-shadow: 5px 5px 5px #1f2937;
  opacity: 0.9;
}
.books-container {
  position: relative;
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  background-color: var(--light-orange);
  box-shadow: 5px 5px 5px #1f2937;
  opacity: 0.9;
}
.book-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  background-color: var(--light-orange);
  box-shadow: 5px 5px 5px #1f2937;
  width: 100%;
}

.hadithPage .load {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 20px 30px;
  background: #1f2937;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 5px 5px 10px #1f2937;
  cursor: pointer;
}
.hadithPage button:hover {
  background: #3a434f;
  color: #f39b4e;
}

@media screen and (max-width: 400px) {
  .hadithPage {
    padding: 250px 0 0 0;
    gap: 100px;
  }
  .hadith-container {
    padding: 20px;
    gap: 20px;
  }
  .hadithPage .load {
    position: unset;
    transform: none;
    width: 100%;
  }
  .hadithPage-bottom-container .bottom-paragraph {
    width: 100%;
    box-shadow: none;
  }
  .books-container.p-300 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 250px) {
  .hadithPage-bottom-container .bottom-paragraph {
    position: unset;
    transform: none;
    margin: 0;
  }
}
