.quranPage {
  gap: 100px;
  padding: 150px 350px;
  align-items: center;
}

.quranIntro {
  width: 100%;
  position: relative;
  padding: 70px;
  background-color: var(--light-orange);
  box-shadow: 5px 5px 5px #1f2937;
  opacity: 0.9;
  font-size: 18px;
}
.quran-title {
  position: absolute;
  top: -30px;
  width: 80%;
  box-shadow: 5px 5px 10px #1f2937;
}
.first.texts {
  width: 100%;
}
.quran-title,
.first.texts {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;

  background: #1f2937;
  padding: 20px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap {
  gap: 20px;
}
table {
  box-shadow: 5px 5px 5px #1f2937;
}
tbody {
  width: 100%;
}
.border {
  border: 4px solid #f39b4e;
  border-radius: 13px;
}
.p-10 {
  padding: 20px 50px;
}
tr {
  width: 100%;
  position: relative;
  justify-content: flex-end;
}
tr:nth-child(odd) {
  background-color: lightgray;
  opacity: 0.9;
}
tr:nth-child(even) {
  background-color: #fff;
  opacity: 0.9;
}

.bg-white {
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.9;
}
.line-number {
  position: absolute;
  width: 50px;
  height: 50px;
  font-weight: bold;
  background-color: #1f2937;
  border-radius: 50%;
  color: #fff;
  top: 40%;
  left: 5%;
}
.texts {
  padding: 25px;
  width: 80%;
}
.texts .bolder {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 15px;
}
.texts .bold {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 15px;
}
.audio {
  border: 2px solid #f39b4e;
  border-radius: 30px;
}
@media screen and (max-width: 1300px) {
  .quranPage {
    padding: 150px;
  }
  .texts {
    width: 75%;
  }
}
@media screen and (max-width: 700px) {
  .quranPage {
    padding: 150px 50px;
  }
}
@media screen and (max-width: 570px) {
  .audio {
    width: 170px;
  }
  .quranIntro {
    padding: 50px;
  }
}
@media screen and (max-width: 400px) {
  .quranPage {
    align-items: center;
    padding: 150px 0 0 0;
    gap: 50px;
  }
  .quranIntro {
    padding: 10px;
  }

  .quran-title {
    position: unset;
    width: 100%;
    gap: 5px;
  }
  .quran-title h3,
  .quran-title h4 {
    margin: 0;
  }
  .quranIntro-description {
    padding: 10px;
  }
  .audio {
    width: 170px;
  }
  .texts {
    padding: 20px;
  }
}
@media screen and (max-width: 300px) {
  .audio {
    width: 100px;
  }
  .texts .bolder {
    font-size: 30px;
  }
  .texts .bold {
    font-size: 15px;
  }
  .line-number {
    width: 30px;
    height: 30px;
  }
}
