.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 350px;
  gap: 20px;
  background-image: url("../../assets/bg.jpg");
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.title {
  font-size: 30px;
  text-shadow: 1px 1px 2px #f09e49;
  margin-bottom: 50px;
}
.hadith {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  border: 5px solid #f09e49;
  border-radius: 10px;
  background: #fff;
  opacity: 0.9;
}
.quran {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  border: 5px solid #f09e49;
  border-radius: 10px;
  background: #fff;
  opacity: 0.9;
}
.home-quranTitle {
  margin-top: 70px;
}
.quran .quranInput {
  position: absolute;
  top: 30px;
  right: 30px;
  font-weight: bold;
  font-size: 20px;
}
.description {
  font-size: 18px;
}
.quranDetails {
  width: 100%;
  padding: 50px;
}
.quranDetails:nth-child(even) {
  background-color: lightgray;
}
.blue {
  background: blue;
}
.chat {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 5px;
  background-color: #1f2937;
  border-radius: 50%;
  border: 3px solid #f39b4e;
  cursor: pointer;
}
.chat-toast {
  position: fixed;
  right: 15px;
  bottom: 130px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f39b4e;
}
.toast-close {
  position: absolute;
  font-weight: bold;
  right: 10px;
  top: 10px;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.none {
  display: none;
}
.chat-toast::before {
  content: "";
  position: absolute;
  top: 90%;
  right: 50px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #f39b4e;
  rotate: 225deg;
}
