.book {
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 200px 350px;
}
.bookHadiths-container {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  background-color: var(--light-orange);
  box-shadow: 5px 5px 5px #1f2937;
  opacity: 0.9;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 10px 5px 5px 0px #1f2937 inset;
  -webkit-box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75) inset;
  max-height: 400px;
  overflow: auto;
}
.slider-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #f39b4e; /* or add it to the track */
}
.slider-container::-webkit-scrollbar-thumb {
  background: #1f2937;
}
.slider-container p {
  font-size: 20px;
  margin: 0;
}
p.slider-container-title {
  padding: 10px 30px;
  background: #1f2937;
  color: #fff;
  border: none;

  font-weight: bold;
  box-shadow: 5px 5px 10px #1f2937;
  z-index: 1;
}
p.reference {
  font-size: 17px;
}
.pagination {
  font-weight: bold;
  color: #fff;
  background-color: #1f2937;
  padding: 5px 15px;
  border-radius: 5px;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.rightArrow,
.leftArrow {
  width: 50px;
  cursor: pointer;
}
.leftArrow {
  transform: rotate(180deg);
}
.return-btn-div {
  width: 100%;
  display: flex;
  justify-content: start;
}
.return-btn {
  background-color: lightgrey;
}
.chapterTitle-sectionDiv {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  padding: 100px;
  background-color: var(--light-orange);
  box-shadow: 5px 5px 5px #1f2937;
  opacity: 0.9;
}
.chapterTitle-section-info {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  background: #1f2937;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 5px 5px 10px #1f2937;
  cursor: pointer;
}
.chapterTitle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .book {
    padding: 200px 50px;
  }
}
@media screen and (max-width: 700px) {
  .book {
    padding: 200px 0;
  }
}
@media screen and (max-width: 600px) {
  .bookHadiths-container {
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .book {
    min-width: auto;
    padding: 150px 0 0 0;
    gap: 20px;
  }
  .chapterTitle-sectionDiv {
    padding: 100px 50px;
  }

  .slider-container p {
    font-size: 15px;
  }
  .rightArrow,
  .leftArrow {
    width: 30px;
  }
}
