.bookCard-name {
  width: 315px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px;
  background: #1f2937;
  box-shadow: 5px 5px 10px #1f2937;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}
.bookCard-name p {
  display: flex;
  margin: 0;
  font-size: 14px;
}
button.bookCard-name:hover {
  color: #1f2937;
  background-color: #f39b4e;
}
@media screen and (max-width: 400px) {
  .bookCard-name {
    width: 240px;
  }
}
@media screen and (max-width: 250px) {
  .bookCard-name {
    width: 200px;
  }
}
